<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="/img/logo/LogoNavBar.png" type="image/png">
    <link rel="stylesheet" href="/resources/css/navbar.css">
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/resources/css/footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .carousel-inner {
            display: flex;

            gap: 10px;

            margin: 0 auto; /* Centrar el carrusel */
            padding-left: 170px;
            padding-right: 170px;
        }

    </style>
</head>

<body>
    <div id="navbar-placeholder"></div>

    <main>
        <!-- Banner Section -->
        <div class="banner">
            <div class="front-banner">
                <img src="/img/inicio/Banner de inicio.jpg" alt="Banner" class="banner-image">
                <div class="overlay">
                    <div class="overlay-bg"></div> <!-- Capa de superposición -->
                    <img src="/img/logo/LogoInicio.png" alt="Logo" class="banner-logo">
                    <div class="banner-text text-black text-decoration-none">
                        <p class="highlight-text">Especialistas en Instalaciones eléctricas,Sistema de alarma
                            contraincendios,Aire acondicionado, Drywall y Todo tipo de Acabados</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Servicios Section -->
        <div class="section" id="servicios">
            <div class="heading">Servicios</div>
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/inicio/image-lummi-category-avatars0.png" alt="Servicio 1"
                                            class="d-block w-100">
                                        <div class="service-title">Instalación de Aire Acondicionado</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Ofrecemos la mejor instalación de aire acondicionado con soporte técnico profesional.</p>
                                        <button>Más Información</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/inicio/image-lummi-category-avatars1.png" alt="Servicio 2"
                                            class="d-block w-100">
                                        <div class="service-title">Sistemas Eléctricos</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Soluciones eficientes para sistemas eléctricos industriales y domésticos.</p>
                                        <button>Más Información</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/inicio/image-lummi-category-avatars2.png" alt="Servicio 3"
                                            class="d-block w-100">
                                        <div class="service-title">Sistemas contra Incendios</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Implementamos sistemas seguros contra incendios para proteger tu empresa y hogar.</p>
                                        <button>Más Información</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/servicios/Servicio-InstalacionDryWall.jpg" alt="Servicio 4"
                                            class="d-block w-100">
                                        <div class="service-title">Instalación de Drywall</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Ofrecemos servicios profesionales de instalación de drywall para todo tipo de proyectos.</p>
                                        <button>Más Información</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/servicios/Servicio-Entubado.jpeg" alt="Servicio 5"
                                            class="d-block w-100">
                                        <div class="service-title">Entubado de Conduit</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Realizamos instalaciones de entubado en conduit para proteger y organizar el cableado eléctrico.</p>
                                        <button>Más Información</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/servicios/Servicios-Camaras.png" alt="Servicio 6"
                                            class="d-block w-100">
                                        <div class="service-title">Instalación de Cámaras de Seguridad</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Instalamos sistemas de cámaras de seguridad para monitorear y proteger tus espacios.</p>
                                        <button>Más Información</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/servicios/Servicio-Cableado.png" alt="Servicio 5"
                                            class="d-block w-100">
                                        <div class="service-title">Cableado Estructurado</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Ofrecemos instalación de redes y cableado estructurado para empresas y hogares.</p>
                                        <button>Más Información</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/servicios/Servicio-Pozo.jpeg" alt="Servicio 5"
                                            class="d-block w-100">
                                        <div class="service-title">Construcción de Pozo a Tierra</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Construimos pozos a tierra para garantizar la seguridad eléctrica de tus instalaciones.</p>
                                        <button>Más Información</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/servicios/Servicio-Ascensor.png" alt="Servicio 5"
                                            class="d-block w-100">
                                        <div class="service-title">Mantenimiento de Ascensores</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Proveemos mantenimiento preventivo y correctivo para ascensores, asegurando su funcionamiento óptimo.</p>
                                        <button>Más Información</button>
                                    </div>    

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/servicios/Servicio-Fierro.png" alt="Servicio 6"
                                            class="d-block w-100">
                                        <div class="service-title">Acero y Estructuras de Fierro</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Diseñamos y construimos estructuras de acero y fierro para proyectos industriales y comerciales.</p>
                                        <button>Más Información</button>
                                    </div>  

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <img src="/img/servicios/Servicio-Acabados.png" alt="Servicio 6"
                                            class="d-block w-100">
                                        <div class="service-title">Acabados en Granito, Mármol, Cuarzo, entre otros</div>
                                    </div>
                                    <div class="testimonial-back">
                                        <p>Ofrecemos acabados de alta calidad en granito, mármol, cuarzo y otros materiales para tus espacios.</p>
                                        <button>Más Información</button>
                                    </div>     

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!-- Empresas Section -->
        <div class="section" id="empresas">
            <div class="heading">Empresas con las que trabajamos</div>
            <div class="cards">
                <div class="card">
                    <img class="image" src="/img/inicio/image0.png" alt="Empresa 1" />
                </div>
                <div class="card">
                    <img class="image" src="/img/inicio/image1.png" alt="Empresa 2" />
                </div>
                <div class="card">
                    <img class="image" src="/img/inicio/image2.png" alt="Empresa 3" />
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Footer -->
    <div id="footer-gaaa"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/resources/js/navbar.js"></script>
    <script src="/resources/js/footer.js"></script>

</body>

</html>