<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Servicio 01</title>
    <link rel="icon" href="/img/logo/LogoNavBar.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/resources/css/navbar.css">
    <link rel="stylesheet" href="/resources/css/banner.css">
    <link rel="stylesheet" href="/resources/css/servBann.css">
    <link rel="stylesheet" href="/resources/css/footer.css">
    <link rel="stylesheet" href="/resources/css/genSty.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="bg-grad">
    <div id="navbar-placeholder"></div>
    <div>
        <div class="banner servBann1">
            <img src="/img/servicios/Servicio-AireAcondicionado.webp" alt="Banner">
            <div class="banner-text">
                <div class="text-black servAnim1">Instalación</div>
                <div class="text-orange servAnim1">Aire Acondicionado</div>
                <div class="banner-subtext servAnim1">Ambientes y Oficinas</div>
            </div>
        </div>
    </div>
    <div class="container justify-content-md-center">
        <div class="mb-3 border-custom">
            <div class="row align-items-center">
                <div class="col-md-5 d-flex p-3 d-none d-md-block">
                    <img src="/img/servicios/instAA1.jpg" class="prllgrm servAnim3" alt="Instalacion de aire acondicionado">
                    <img src="/img/servicios/instAA2.jpg" class="prllgrm servAnim3" alt="Instalacion de aire acondicionado">
                    <img src="/img/servicios/instAA3.jpg" class="prllgrm servAnim3" alt="Instalacion de aire acondicionado">
                </div>
                <div class="col-md-7">
                    <div class="row text-center my-5 px-3">
                        <div class="card-body">
                            <p class="card-text fs-5">La instalación de aire acondicionado implica la colocación y
                                configuración de sistemas de climatización para regular la temperatura y la calidad del
                                aire
                                en espacios interiores.</p>
                        </div>
                    </div>
                    <div class="col-12 d-block d-md-none my-3">
                        <img src="/img/servicios/instAA1.jpg" class="img-fluid rounded full-height-img servAnim1"
                            alt="Instalacion de aire acondicionado">
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center">
                        <div class="col servAnim2">
                            <div class="card border-custom size-custom h-100">
                                <div class="card-body cardBG">
                                    <div class="row">
                                        <div class="col-md-2"><i class="bi bi-1-circle fs-1"></i></div>
                                        <div class="col-md-10">
                                            <h5 class="card-title">Evaluación del espacio</h5>
                                            <p class="card-text">Un técnico visita el lugar para evaluar las necesidades
                                                de
                                                climatización y determinar el tipo y tamaño del sistema adecuado.</p>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Quam assumenda hic aut tenetur officia
                                                fuga, aliquam consequuntur, deleniti quae suscipit tempore eos
                                                laudantium consectetur ad porro corrupti, sed
                                                cupiditate iste.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col servAnim2">
                            <div class="card border-custom size-custom h-100">
                                <div class="card-body cardBG">
                                    <div class="row">
                                        <div class="col-md-2"><i class="bi bi-2-circle fs-1"></i></div>
                                        <div class="col-md-10">
                                            <h5 class="card-title">Selección del equipo</h5>
                                            <p class="card-text">Se elige el equipo de aire acondicionado más adecuado
                                                según las
                                                necesidades del
                                                cliente y las características del espacio.</p>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Quam assumenda hic aut tenetur officia
                                                fuga, aliquam consequuntur, deleniti quae suscipit tempore eos
                                                laudantium consectetur ad porro corrupti, sed
                                                cupiditate iste.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col servAnim2">
                            <div class="card border-custom size-custom h-100">
                                <div class="card-body cardBG">
                                    <div class="row">
                                        <div class="col-md-2"><i class="bi bi-3-circle fs-1"></i></div>
                                        <div class="col-md-10">
                                            <h5 class="card-title">Instalación</h5>
                                            <p class="card-text">Se procede a la instalación del equipo, incluyendo la
                                                colocación de
                                                unidades
                                                interiores y exteriores, y la conexión de conductos y sistemas
                                                eléctricos.</p>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Quam assumenda hic aut tenetur officia
                                                fuga, aliquam consequuntur, deleniti quae suscipit tempore eos
                                                laudantium consectetur ad porro corrupti, sed
                                                cupiditate iste.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col servAnim2">
                            <div class="card border-custom size-custom h-100">
                                <div class="card-body cardBG">
                                    <div class="row">
                                        <div class="col-md-2"><i class="bi bi-4-circle fs-1"></i></div>
                                        <div class="col-md-10">
                                            <h5 class="card-title">Pruebas y ajustes</h5>
                                            <p class="card-text">Se realizan pruebas para asegurar que el sistema
                                                funcione
                                                correctamente y se
                                                ajustan los parámetros necesarios.</p>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Quam assumenda hic aut tenetur officia
                                                fuga, aliquam consequuntur, deleniti quae suscipit tempore eos
                                                laudantium consectetur ad porro corrupti, sed
                                                cupiditate iste.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col servAnim2">
                            <div class="card border-custom size-custom h-100">
                                <div class="card-body cardBG">
                                    <div class="row">
                                        <div class="col-md-2"><i class="bi bi-5-circle fs-1"></i></div>
                                        <div class="col-md-10">
                                            <h5 class="card-title">Instrucciones al cliente</h5>
                                            <p class="card-text">Se proporciona al cliente una explicación sobre el uso
                                                y
                                                mantenimiento del
                                                sistema.</p>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Quam assumenda hic aut tenetur officia
                                                fuga, aliquam consequuntur, deleniti quae suscipit tempore eos
                                                laudantium consectetur ad porro corrupti, sed
                                                cupiditate iste.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="https://wa.me/+51966622289" target="_blank"><button class="btn btn-primary btn-lg btn-whatsapp">Contáctanos<i class="bi bi-whatsapp"></i>
            </div>
        </div>
    </div>
    <div id="footer-gaaa"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/resources/js/navbar.js"></script>
    <script src="/resources/js/footer.js"></script>
</body>

</html>