<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nuestros Servicios</title>
    <link rel="icon" href="/img/logo/LogoNavBar.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/navbar.css">
    <link rel="stylesheet" href="/resources/css/banner.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/servicios.css">
    <link rel="stylesheet" href="/resources/css/footer.css">
</head>

<body class="mb-5">
    <div id="navbar-placeholder"></div>
    <div id="banner-placeholder"></div>
    <div class="container mt-5 mb-5">
        <!-- Primer panel -->
        <div class="row" data-aos="fade-right">
            <div class="col-12 col-md-6 content">
                <div class="shadow-box"></div>
                <a href="/views/InstalacionAireAcondicionado.html" style="text-decoration: none; color: inherit;">
                    <img src="/img/servicios/Servicio-AireAcondicionado.webp" alt="Imagen Servicio-AireAcondicionado"
                        class="img-fluid">
                </a>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <a href="/views/InstalacionAireAcondicionado.html" style="text-decoration: none; color: inherit;">
                    <h2 class="text-center">Instalación de Aire Acondicionado</h2>
                    <p class="text-justify">Garantizamos una instalación rápida y correcta garantizando que el aire
                        acondicionado funcione de manera eficiente, proporcionando un ambiente cómodo y asegurando la
                        longevidad del sistema.
                    </p>
                </a>
                <div class="d-flex justify-content-center">
                    <a href="https://wa.me/51966622289" target="_blank">
                        <button class="btn btn-primary btn-lg btn-whatsapp">Contáctanos
                            <i class="bi bi-whatsapp"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <!-- Segundo panel -->
        <div class="row mt-5" data-aos="fade-left">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center order-2 order-md-1">
                <a href="/views/InstalacionSistemaElectrico.html" style="text-decoration: none; color: inherit;">
                    <h2 class="text-center">Instalacion de sistemas electricos</h2>
                    <p class="text-justify">Estas instalaciones permiten que la electricidad llegue a los dispositivos y
                        equipos que la
                        necesitan, a la vez que garantizan la seguridad de las personas y la protección de los equipos
                        frente a posibles fallos o riesgos eléctricos.
                    </p>
                </a>
                <div class="d-flex justify-content-center">
                    <a href="https://wa.me/51966622289" target="_blank"><button
                            class="btn btn-primary btn-lg btn-whatsapp">Contáctanos
                            <i class="bi bi-whatsapp"></i>
                        </button></a>
                </div>
            </div>
            <div class="col-12 col-md-6 content order-1 order-md-2">
                <div class="shadow-box" style="left: auto; right: -10px;"></div>
                <a href="/views/InstalacionSistemaElectrico.html" style="text-decoration: none; color: inherit;">
                    <img src="/img/servicios/Servicio-SistemasElectricos.webp"
                        alt="Imagen Servicio-MantenimientoAireAcondicionado" class="img-fluid">
                </a>
            </div>
        </div>

        <!-- Tercer panel -->
        <div class="row mt-5" data-aos="zoom-in">
            <div class="col-12 col-md-6 content">
                <div class="shadow-box"></div>
                <a href="/views/InstalacionSistemaContraIncendios.html" style="text-decoration: none; color: inherit;"><img
                        src="/img/servicios/Servicio-SistemasContraIncendios.jpg"
                        alt="Imagen Servicio-SistemasElectricos" class="img-fluid"></a>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <a href="/views/InstalacionSistemaContraIncendios.html" style="text-decoration: none; color: inherit;">
                    <h2 class="text-center">Instalacion de Sistemas Contra Incendios</h2>
                    <p class="text-justify">Se realiza una correcta planificación, selección de equipos adecuados, y
                        cumplimiento de normativas. Este sistema será capaz de detectar rápidamente cualquier riesgo y
                        alertar de manera efectiva a las personas dentro del edificio para garantizar su seguridad.</p>
                </a>
                <div class="d-flex justify-content-center">
                    <a href="https://wa.me/51966622289" target="_blank"><button
                            class="btn btn-primary btn-lg btn-whatsapp">Contáctanos
                            <i class="bi bi-whatsapp"></i>
                        </button></a>
                </div>
            </div>
        </div>

        <!-- Cuarto panel -->
        <div class="row mt-5" data-aos="fade-left">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center order-2 order-md-1">
                <a href="/views/InstalacionDrywall.html" style="text-decoration: none; color: inherit;">
                    <h2 class="text-center">Instalacion de Drywall</h2>
                    <p class="text-justify">Es una técnica de construcción que se utiliza para crear superficies de
                        paredes y techos de manera rápida y eficiente, sin necesidad de aplicar materiales pesados como
                        el ladrillo o el cemento. Este sistema es ampliamente utilizado tanto en construcciones nuevas
                        como en remodelaciones debido a su facilidad de instalación, bajo costo y excelentes propiedades
                        de aislamiento.

                    </p>
                </a>
                <div class="d-flex justify-content-center">
                    <a href="https://wa.me/51966622289" target="_blank"><button
                            class="btn btn-primary btn-lg btn-whatsapp">Contáctanos
                            <i class="bi bi-whatsapp"></i>
                        </button></a>
                </div>
            </div>
            <div class="col-12 col-md-6 content order-1 order-md-2">
                <div class="shadow-box" style="left: auto; right: -10px;"></div>
                <a href="/views/InstalacionDrywall.html" style="text-decoration: none; color: inherit;">
                    <img src="/img/servicios/Servicio-InstalacionDryWall.jpg"
                        alt="Imagen Servicio-MantenimientoAireAcondicionado" class="img-fluid">
                </a>
            </div>
        </div>

        <!-- Quinto panel -->
        <div class="row mt-5" data-aos="zoom-in">
            <div class="col-12 col-md-6 content">
                <div class="shadow-box"></div>
                <a href="/views/EntubadoConduit.html" style="text-decoration: none; color: inherit;"><img
                        src="/img/servicios/Servicio-Entubado.jpeg" alt="Imagen Servicio-SistemasElectricos"
                        class="img-fluid"></a>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <a href="/views/EntubadoConduit.html" style="text-decoration: none; color: inherit;">
                    <h2 class="text-center">Entubado de Counduit</h2>
                    <p class="text-justify">Es un sistema utilizado en la instalación de cables eléctricos, en el que se
                        emplean tubos para proteger y dirigir los cables eléctricos a lo largo de una construcción o
                        instalación. Este tipo de instalación es común en la construcción de edificios, industrias y
                        sistemas eléctricos, ya que ofrece seguridad, durabilidad y organización.</p>
                </a>
                <div class="d-flex justify-content-center">
                    <a href="https://wa.me/51966622289" target="_blank"><button
                            class="btn btn-primary btn-lg btn-whatsapp">Contáctanos
                            <i class="bi bi-whatsapp"></i>
                        </button></a>
                </div>
            </div>
        </div>


        <!-- Sexto panel -->
        <div class="row mt-5" data-aos="fade-left">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center order-2 order-md-1">
                <a href="/views/InstalacionCamarasSeguridad.html" style="text-decoration: none; color: inherit;">
                    <h2 class="text-center">Instalacion de Camaras de Seguridad</h2>
                    <p class="text-justify">La instalación de cámaras de seguridad es un proceso clave para mejorar la
                        seguridad en cualquier tipo de propiedad, ya sea residencial, comercial o industrial. Las
                        cámaras de seguridad permiten monitorear y grabar lo que sucede en tiempo real, lo que es
                        fundamental para prevenir delitos, identificar sospechosos y tener evidencia en caso de
                        incidentes.
                    </p>
                </a>
                <div class="d-flex justify-content-center">
                    <a href="https://wa.me/51966622289" target="_blank"><button
                            class="btn btn-primary btn-lg btn-whatsapp">Contáctanos
                            <i class="bi bi-whatsapp"></i>
                        </button></a>
                </div>
            </div>
            <div class="col-12 col-md-6 content order-1 order-md-2">
                <div class="shadow-box" style="left: auto; right: -10px;"></div>
                <a href="/views/InstalacionCamarasSeguridad.html" style="text-decoration: none; color: inherit;">
                    <img src="/img/servicios/Servicios-Camaras.png"
                        alt="Imagen Servicio-MantenimientoAireAcondicionado" class="img-fluid">
                </a>
            </div>
        </div>

        <!-- Septimo panel -->
        <!-- <div class="row mt-5" data-aos="zoom-in">
            <div class="col-12 col-md-6 content">
                <div class="shadow-box"></div>
                <a href="/views/serv3.html" style="text-decoration: none; color: inherit;"><img src="/img/servicios/Servicio-SistemasContraIncendios.jpg"
                    alt="Imagen Servicio-SistemasElectricos" class="img-fluid"></a>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <a href="/views/serv3.html" style="text-decoration: none; color: inherit;"><h2 class="text-center">Instalacion de Sistemas Contra Incendios</h2>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                    Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                    imperdiet.
                    Reprehenderit nostrud consectetur labore dolor. Ea irure proident magna labore nostrud est qui
                    reprehenderit voluptate laborum. Dolor occaecat aliqua reprehenderit eu culpa ea voluptate
                    occaecat
                    nisi sunt mollit velit sit incididunt.</p>
                </a>
                <div class="d-flex justify-content-center">
                    <a href="https://wa.me/+51966622289" target="_blank"><button class="btn btn-primary btn-lg btn-whatsapp">Contáctanos
                        <i class="bi bi-whatsapp"></i>
                    </button></a>
                </div>
            </div>
        </div> -->

        <!-- Octavo panel -->
        <!-- <div class="row mt-5" data-aos="fade-left">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center order-2 order-md-1">
                <a href="/views/serv2.html" style="text-decoration: none; color: inherit;">
                    <h2 class="text-center">Instalacion de sistemas electricos</h2>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                        Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                        imperdiet.
                    </p>
                </a>
                <div class="d-flex justify-content-center">
                    <a href="https://wa.me/+51966622289" target="_blank"><button class="btn btn-primary btn-lg btn-whatsapp">Contáctanos
                        <i class="bi bi-whatsapp"></i>
                    </button></a>
                </div>
            </div>
            <div class="col-12 col-md-6 content order-1 order-md-2">
                <div class="shadow-box" style="left: auto; right: -10px;"></div>
                <a href="/views/serv2.html" style="text-decoration: none; color: inherit;">
                    <img src="/img/servicios/Servicio-SistemasElectricos.webp"
                        alt="Imagen Servicio-MantenimientoAireAcondicionado" class="img-fluid">
                </a>
            </div>
        </div> -->
    </div>
    <div id="footer-gaaa"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="/resources/js/navbar.js"></script>
    <script src="/resources/js/banner.js"></script>
    <script src="/resources/js/footer.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>