.servBann1 img {
    transform: translate(-50%, -40%);
}

.card {
    background-color: none;
}

.cardBG {
    background-color: #ece0d5;
    border-radius: 15px;
}

.border-custom {
    border: none;
}

.size-custom {
    /*width: 22rem;}*/
}

.btn-custom {
    background-color: #f29d4e;
    color: white;
}

.btn-custom:hover {
    background-color: #bd722d;
    color: white;
}

.cardBG:hover {
    color: white;
    background-color: orange;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.accordion-custom {
    background-color: #ebb786;
    border-bottom: 2px solid white;
}

.accordion-custom:last-child {
    border-bottom: ;
}

.full-height-img {
    height: 100%;
    object-fit: cover;
}

.d-flex {
    display: flex;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.servAnim1 {
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
    animation-delay: 0.3s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.servAnim2 {
    animation: fadeInLeft 1s ease-out forwards;
    opacity: 0;
    animation-delay: 0.5s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.servAnim3 {
    animation: fadeInRight 1s ease-out forwards;
    opacity: 0;
    animation-delay: 0.7s;
}