<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index.html">
                <img src="/assets/img/logo/LogoNavBar.png" alt="NAROC SAC Logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-label="Menú de navegación">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html" data-page="home">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/pages/quienes-somos.html" data-page="quienes-somos">Quienes Somos</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" data-page="servicios">
                            Servicios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/index.html">Todos los Servicios</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/aire-acondicionado.html">Instalación de Aire Acondicionado</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/sistema-electrico.html">Instalación de Sistemas Eléctricos</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/sistema-contra-incendios.html">Instalación de Sistemas Contra Incendios</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/drywall.html">Instalación de Drywall</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/entubado-conduit.html">Entubado en Conduit</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/camaras-seguridad.html">Instalación de Cámaras de Seguridad</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/cableado-estructurado.html">Cableado Estructurado</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/pozo-tierra.html">Construcción Pozo a Tierra</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/mantenimiento-ascensores.html">Mantenimiento de Ascensores</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/acero-estructuras.html">Acero y Estructuras de Fierro</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/granito-marmol-cuarzo.html">Acabados en Granito, Mármol, Cuarzo, entre otros</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/licencia-itse.html">Licencias de funcionamiento e ITSE</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/pages/servicios/mantenimiento-general.html">Mantenimientos generales</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/pages/clientes.html" data-page="clientes">Nuestros clientes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/pages/contacto.html" data-page="contacto">Contáctanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
